<div class="chat-list">
  <div class="chat-list__nav-link">Профиль ></div>
  <div class="chat-list__search">Поиск</div>
  <ul class="chat-list__items">
    <div class="divider"></div>
    <li class="chat-list__item">
      <div class="chat-list__item-image"></div>
      <div>
        <div class="chat-list__item-title">Заголовок</div>
        <div class="chat-list__item-subtitle">Сообщение подзаголовок</div>
      </div>
    </li>
    <div class="divider"></div>
    <li class="chat-list__item">
      <div class="chat-list__item-image"></div>
      <div>
        <div class="chat-list__item-title">Заголовок</div>
        <div class="chat-list__item-subtitle">Сообщение подзаголовок</div>
      </div>
    </li>
    <div class="divider"></div>
    <li class="chat-list__item">
      <div class="chat-list__item-image"></div>
      <div>
        <div class="chat-list__item-title">Заголовок</div>
        <div class="chat-list__item-subtitle">Сообщение подзаголовок</div>
      </div>
    </li>
    <div class="divider"></div>
    <li class="chat-list__item">
      <div class="chat-list__item-image"></div>
      <div>
        <div class="chat-list__item-title">Заголовок</div>
        <div class="chat-list__item-subtitle">Сообщение подзаголовок</div>
      </div>
    </li>
    <div class="divider"></div>
    <li class="chat-list__item">
      <div class="chat-list__item-image"></div>
      <div>
        <div class="chat-list__item-title">Заголовок</div>
        <div class="chat-list__item-subtitle">Сообщение подзаголовок</div>
      </div>
    </li>
    <div class="divider"></div>
    <li class="chat-list__item">
      <div class="chat-list__item-image"></div>
      <div>
        <div class="chat-list__item-title">Заголовок</div>
        <div class="chat-list__item-subtitle">Сообщение подзаголовок</div>
      </div>
    </li>
  </ul>
</div>
