<div class="chat-list">
  <div class="chat-list-nav-link">Профиль ></div>
  <div class="chat-list-search">Поиск</div>
  <ul class="chat-list-items">
    <div class="divider"></div>
    <li class="chat-list-item">
      <div class="chat-list-item-image"></div>
      <div>
        <div class="chat-list-item-title">Заголовок</div>
        <div class="chat-list-item-subtitle">Сообщение подзаголовок</div>
      </div>
    </li>
    <div class="divider"></div>
    <li class="chat-list-item">
      <div class="chat-list-item-image"></div>
      <div>
        <div class="chat-list-item-title">Заголовок</div>
        <div class="chat-list-item-subtitle">Сообщение подзаголовок</div>
      </div>
    </li>
    <div class="divider"></div>
    <li class="chat-list-item">
      <div class="chat-list-item-image"></div>
      <div>
        <div class="chat-list-item-title">Заголовок</div>
        <div class="chat-list-item-subtitle">Сообщение подзаголовок</div>
      </div>
    </li>
    <div class="divider"></div>
    <li class="chat-list-item">
      <div class="chat-list-item-image"></div>
      <div>
        <div class="chat-list-item-title">Заголовок</div>
        <div class="chat-list-item-subtitle">Сообщение подзаголовок</div>
      </div>
    </li>
    <div class="divider"></div>
    <li class="chat-list-item">
      <div class="chat-list-item-image"></div>
      <div>
        <div class="chat-list-item-title">Заголовок</div>
        <div class="chat-list-item-subtitle">Сообщение подзаголовок</div>
      </div>
    </li>
    <div class="divider"></div>
    <li class="chat-list-item">
      <div class="chat-list-item-image"></div>
      <div>
        <div class="chat-list-item-title">Заголовок</div>
        <div class="chat-list-item-subtitle">Сообщение подзаголовок</div>
      </div>
    </li>
  </ul>
</div>