@import "../../styles.css";

.backarrow {
  align-self: flex-start;
  margin-left: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  margin: 0 0 40px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  width: 280px;
}

.button {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  background-color: var(--color-dark-gray);
  border: none;
  width: 280px;
  height: 40px;
  margin-bottom: 14px;
  cursor: pointer;
}

.form-input {
  text-align: right;
  max-width: 280px;
  width: 280px;
  border: none;
  background-color: var(--color-main-black);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0;
  padding: 7px 0;
  color: var(--color-main-white);
}

.form-label {
  align-items: center;
  display: flex;
  line-height: 9px;
  letter-spacing: 0;
  text-align: left;
  color: var(--color-main-white);
  margin: 0;
  padding: 0;
}

.divider {
  height: 1px;
  background-color: var(--color-main-white);
  width: 280px;
  margin-bottom: 16px;
}

.form-row {
  text-align: left;
  display: flex;
  max-width: 280px;
}

.form-row:last-of-type {
  margin-bottom: 160px;
}

.link {
  text-align: left;
}

.link:last-of-type {
  color: red;
}
