.message-list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 1400px;
}

.message-list-header {
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.message-list-items {
  display: flex;
  gap: 30px;
  list-style-type: none;
  flex-grow: 1;
  flex-direction: column-reverse;
}

.message-item {
  max-width: 400px;
  background-color: var(--color-gray);
  padding: 20px;
  gap: 30px;
}

.message-list-input {
  justify-self: end;
  height: 32px;
}
