---
stylesheets:
  - ../profile.css
---

{{!< main}}

<main class="main">
  
  <div class="backarrow">
      <img src="../../../img/back-arrow.png" class="backarrow__image">
  </div>
  <div class="profile">
       <div class="avatar">
       <img src="../../../img/avatar-placeholder.png" class="backarrow__image">
        </div>
 
 <form class="form">
 <h1 class="form__title">Иван</h1>
     {{> input type='password' name='password' label='Старый пароль' placeholder='•••••••••'}}
    {{> devider}}
    {{> input type='password' name='oldpassword' label='Новый пароль' placeholder='•••••••••'}}
        {{> devider}}
    {{> input type='password' name='newpassword' label='Повторите новый пароль' placeholder='•••••••••'}}
    {{> button buttonText="Сохранить"}}
 </form>
  </div>
  
</main>