 
 <div class="message-list">
 <div class="message-list__header"></div>
 <ul class="message-list__items">
    <li class="message__item">Чебурашка</li>
    <li class="message__item">Крокодил Гена</li>
    <li class="message__item">Шапокляк</li>
  </ul>
{{> input type='text' name='login' label='Логин' placeholder='ivanivanov'}}
  </div>