<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>

  </title>
</head>
<body>
  <main class="main">
{{> navLink href='./pages/login/login.hbs' text="Войти"}}
{{> navLink href='./pages/chat/chat.hbs' text="Чат"}}
{{> navLink href='./pages/notFound/notFound.hbs' text="Ошибка 404"}}
{{> navLink href='./pages/profile/profile.hbs' text="Профиль"}}
{{> navLink href='./pages/register/register.hbs' text="Регистрация"}}
{{> navLink href='./pages/serverError/serverError.hbs' text="Ошибка 500"}}
  <br />
</main>
</body>
</html>