<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <title>
    chat
  </title>
  {{#block "styles"}}
    {{#each stylesheets}}
      <link rel="stylesheet" href={{this}}>
    {{/each}}
  {{/block}}
</head>
<body>
{{{body}}}
</body>
 {{#block "scripts"}}
    {{#each scripts}}
      <script src={{this}} > </script>
    {{/each}}
  {{/block}}
</html>
