<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>
chat
  </title>
    {{#block "styles"}}
    {{#each stylesheets}}
    <link  rel="stylesheet" href={{this}}/>
    {{/each}}
    {{/block}}
</head>
<body>
{{{body}}}
</body>
</html>