<main class="main">

  <div class="backarrow">
    <img src="../../../img/back-arrow.png" class="backarrow__image">
  </div>
  <div class="profile">
    <div class="avatar">
      <img src="../../../img/avatar-placeholder.png" class="backarrow__image">
    </div>

    <form class="form">
      <h1 class="form-title">Иван</h1>
      {{{ inputPassword }}}
      <div class="divider"></div>
      {{{ inputOldPassword }}}
      <div class="divider"></div>
      {{{ inputNewPassword }}}
      {{{ buttonChangePassword}}}
    </form>
  </div>

</main>
